<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<!-- [kafka path] should be replaced with actual kafka path. -->
<entry key="path">[kafka path]</entry>
</properties>
